@page "/SystemAccounts/Create"
@using Data.Enum
@model RazorPage.Pages.SystemAccounts.CreateModel

@{
    ViewData["Title"] = "Create";
}

<form method="post" id="createAccountForm">
    <div class="form-group">
        <label asp-for="SystemAccount.AccountName">Name</label>
        <input asp-for="SystemAccount.AccountName" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="SystemAccount.AccountEmail">Email</label>
        <input asp-for="SystemAccount.AccountEmail" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="SystemAccount.Role">Role</label>
        <select asp-for="SystemAccount.Role" asp-items="Html.GetEnumSelectList<EnumRole>()" class="form-control"></select>
    </div>
    <div class="form-group">
        <label asp-for="SystemAccount.AccountPassword">Password</label>
        <input asp-for="SystemAccount.AccountPassword" type="password" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="SystemAccount.ConfirmedPassword">Confirm Password</label>
        <input asp-for="SystemAccount.ConfirmedPassword" type="password" class="form-control" />
    </div>
    <button type="submit" class="btn btn-success">Create</button>
</form>

<script>
    $('#createAccountForm').submit(function (event) {
        event.preventDefault();
        $.post('/SystemAccounts/Create', $(this).serialize(), function () {
            $('#createModal').modal('hide');
            location.reload(); // Reload to update table
        });
    });
</script>

<div>
    <a class="btn btn-secondary" asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}