@model Repositories.DTOs.CategoryDTOs.UpdateCategoryDTO
@{
    Layout = null;
}

<form asp-action="Edit" asp-route-id="@Model.CategoryID" id="editAccountForm" method="post">
    @Html.AntiForgeryToken()
    @Html.HiddenFor(model => model.CategoryID)

    <div class="form-group">
        <label asp-for="CategoryName"></label>
        <input asp-for="CategoryName" class="form-control" />
        <span asp-validation-for="CategoryName" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="CategoryDesciption"></label>
        <input asp-for="CategoryDesciption" class="form-control" />
        <span asp-validation-for="CategoryDesciption" class="text-danger"></span>
    </div>

    <div class="form-group form-check">
        <input asp-for="IsActive" class="form-check-input" />
        <label asp-for="IsActive" class="form-check-label"></label>
    </div>

    <button type="submit" class="btn btn-primary">Update</button>
</form>
