@model BusinessLogic.DTOs.SystemAccountDTOs.GetSystemAccountDTO

@{
    ViewData["Title"] = "Delete";
    var userName = ViewData["UserName"] as string;
    var userEmail = ViewData["UserEmail"] as string;
    var userRole = ViewData["UserRole"] as string;
    var userId = ViewData["UserId"] as string;
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Confirmation</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            Name
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AccountName)
        </dd>
        <dt class = "col-sm-2">
            Email
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AccountEmail)
        </dd>
        <dt class = "col-sm-2">
            Role
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RoleName)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" name="id" value="@Model.AccountId" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
